doctype html

h3 Confirm user registration

.app-card.center
    .app-card__row
        input.form-control.form-control-sm#token(
            type='text',
            placeholder='Token from e-mail message',
            name='token',
            [(ngModel)]='token',
            [attr.disabled]='(isBusy$ | async) ? "disabled" : null',
        )
        button.btn.btn-outline-success.btn-sm(
            [attr.disabled]='(isBusy$ | async) ? "disabled" : null',
            (click)='onTokenSubmit()'
        ) Confirm