@import '../../../common/colors.styl'

.user
    .icon
        font-size 1em
        color white
        transition 0.2s ease color

        &.active
            color color-yellow-rum-swizzle
    &:hover .icon:hover
        color color-yellow-rum-swizzle