@import '../../../common/colors.styl'

.menubar
    position sticky
    top 0

    padding 0.6em 1em
    background-color color-black-pearl

    display flex
    justify-content space-between
    flex-direction row
    align-items center

    list-style none

    &-logo
        color white
        padding-left 0.5em
        cursor help

        & > .search
            outline 0
            border-width 0

            margin-left 5px

            background none
            color white

.menu
    display flex
    justify-content flex-end

    &-item
        list-style none
        margin 0 0.5em
        & > a
            text-decoration none
            color white
            cursor pointer

            &:not([enabled])
                cursor not-allowed
                color color-gray-asphalt-wet
            &.active[enabled]
                color color-blue-asphalt
            &:hover[enabled]
                color color-blue-blue-sky