doctype html

ul.menubar
    li.menubar-logo
        span(
            (click)='onMenuItemClick("")'
        ) MAS.Payments >
        input.search(
            type='text',
            [(ngModel)]='this.searchPattern',
            spellcheck='false',
            (keydown.enter)='onStartSearch()'
        )
    li.menubar-right
        ul.panel
            li.item
                ul.menu
                    li.menu-item(*ngFor='let menuItem of (menuItems$ | async)')
                        a(
                            [attr.title]='menuItem.description === undefined ? null : menuItem.description',
                            [attr.disabled]='menuItem.isEnabled ? null : "disabled"',
                            [class.active]='menuItem.isActive',
                            (click)='!menuItem.isEnabled ? null : onMenuItemClick(menuItem.link)'
                        ) {{ menuItem.name }}
            li.item
                app-user.menu-icon
            li.item
                app-bell.menu-icon