.menubar
    height 3em
    padding 0.5em
    background-color gray 
    
    display flex
    flex-direction row
    justify-content right
    align-items baseline
    align-content center
    &-item 
        color black
        &:hover
            color red