doctype html

ul.menubar
    li.menubar-logo
        span MAS.Payments >
        input.search(
            type='text',
            [(ngModel)]='this.searchPattern',
            spellcheck='false',
            (keydown.enter)='onStartSearch()'
        )
    li.menubar-links
        ul.menu
            li.menu-item(*ngFor='let menuItem of menuItems')
                a([title]='menuItem.description',
                    [href]='menuItem.link',
                    [class.active]='menuItem.isActive'
                ) {{ menuItem.name }}