doctype html

ul.menubar
    li.menubar-logo
        span(
            (click)='onMenuItemClick("")'
        ) MAS.Payments >
        input.search(
            type='text',
            [(ngModel)]='this.searchPattern',
            spellcheck='false',
            (keydown.enter)='onStartSearch()'
        )
    li.menubar-links
        ul.menu
            li.menu-item(*ngFor='let menuItem of (menuItems$ | async)')
                a(
                    [title]='menuItem.description === undefined ? "" : menuItem.description',
                    [attr.disabled]='menuItem.isEnabled ? null : ""',
                    [class.active]='menuItem.isActive',
                    (click)='!menuItem.isEnabled ? null : onMenuItemClick(menuItem.link)'
                ) {{ menuItem.name }}
        app-bell