height = calc(1.5em + .5rem + 2px)

form
    .measurement__heading
        padding 0.25em 0.5em

        & > div
            text-align center
    .measurement__row
        padding 0.25em
        
        & > *:last-child
            align-self center

        textarea
            min-height height
            height height

        & > .form-group
            margin-bottom 0

        &--invalid
            border-left 4px solid red

            div > span 
                color red