@import '../../../../common/styles/colors.styl'

.list
    display flex
    flex-direction column

    &_item
        display flex
        align-items center
        justify-content space-between
        
        margin 0.5em 0
        padding 1em 1.2em

        box-shadow 0px 0px 2px 0px rgba(0, 0, 0, 0.25)

        cursor default

        &:hover
            box-shadow 0px 0px 2px 0px rgb(69, 212, 222, 0.25)

        .info
            display flex
            flex-direction column

            width 60%
            .name
                font-size 1.5em
            .description
                margin 0
                padding 0
                white-space pre-line
                word-break break-word
        .type
            margin 0 5px
            width 10%

            justify-content center
            display flex

        .options
            display flex
            & > *
                margin 0 1em