doctype html

.types-list
    .types-list__item(
        *ngFor='let type of (measurementTypes$ | async)'
    )
        .header
            span.oi.oi-trash.oi-medium(
                (click)='onDeleteClick(type)'
            )
            h5 {{ type.name }}
            span.app-badge {{ type.paymentTypeName }}
            
        p {{ type.description}}