# Frontend
FRONTEND_PATH=../../frontend/MAS.Payments.Client
FRONTEND_PORT=5050

# Backend
BACKEND_PORT=80

# Database
POSTGRES_IMAGE=postgres:15
POSTGRES_DB=prt
POSTGRES_USER=devw
POSTGRES_PASSWORD=123
POSTGRES_PORT=5401

# Connection string (assembled from DB vars)
CONNECTION_STRING=Host=db;Port=5432;Pooling=true;Database=prt;Username=devw;Password=123;Timeout=5;
