.no-items-container
    display flex
    flex-direction column
    align-items center
    color rgba(0, 0, 0, 0.5)
    font-size 1.25em
    font-style italic

    &__additional-text
        font-size 0.95em