.table
    border 1px solid blue
    overflow auto

    .payments
        list-style none
        ul
            list-style none

    .row
        display flex
        flex-direction row
        list-style none
        li
            width 5em
            margin-right 1.5em
            &:last-of-type
                margin-right 0
            .measurements
                margin 0
                padding 0
                list-style none