@import '../../../../../common/colors.styl'

ul.notifications
    padding 0

    & > *
        margin-bottom 0.5em

    .m-card
        border-left-width 3px
        border-left-style solid
        border-bottom-left-radius 3px
        border-top-left-radius 3px

        .card-title
            font-weight bold
        &.info
            border-left-color color-blue-thunder-light
        &.warning
            border-left-color color-orange-bee