doctype html 

.action-icon(
    [style.backgroundColor]='backgroundColor',
    [style.color]='fontColor',
    (mouseenter)='onMouseEvent(true)',
    (mouseleave)='onMouseEvent(false)',
    (mousedown)='onMouseClick(true)',
    (mouseup)='onMouseClick(false)'
)
    i.oi([class]='fontIcon')