.action-icon
    display inline-block
    border 1px solid #ced4da
    padding 0.15rem 0.5rem
    cursor pointer
    border-radius 0.2rem
    transition 0.15s ease-in-out background-color

    i
        pointer-events none
        user-select none
        transition 0.15s ease-in-out color