transitionFunction = cubic-bezier(0.4, 0.6, 0.6, 1)

.m-card
    margin-bottom 1.5em

    .card-header
        cursor pointer
        
        span.oi
            transition 0.2s transform transitionFunction
            font-size 0.9em
            margin-right 0.5em

    .card-body
        transition all 0.2s transitionFunction
        max-height max-content

    &--collapsed
        .card-header
            border-bottom-width 0
            
            span.oi
                transform rotate(180deg)

        .card-body
            max-height 0
            min-height 0
            padding-top 0
            padding-bottom 0
            overflow hidden
.measurement-header
    display grid
    grid-template-columns minmax(min-content, max-content) 0.5fr 0.1fr 1.25fr 0.5fr
    grid-template-rows 1fr
    gap 1em
    grid-template-areas "Flag Type Measurement Comment Actions"

    margin-bottom 1em
    font-weight bold

    & > * > span
        user-select none
        cursor default

    &__flag
        grid-area Flag

    &--flagged
        padding-left 1em

    &__type
        grid-area Type
        justify-self center

    &__value
        grid-area Measurement

    &__comment
        grid-area Comment

    &__actions
        grid-area Actions
        justify-self center