doctype html

.card.m-card(
    *ngIf='showAsGroups',
    [class.m-card--collapsed]='isGroupCollapsed'
)
    .card-header((click)='toggleState()')
        span.oi.oi-chevron-bottom
        | {{ formattedGroupName }}
    .card-body
        .measurement-header([class.measurement-header--flagged]='isSentFlagActive')
            .measurement-header__flag.measurement-header--clickable(*ngIf='isSentFlagActive')
                span.oi.oi-chevron-bottom(
                    *ngIf='currentSortColumn === "sent"',
                    [class.oi--rotated]='isDescSortOrder',
                    (click)='onSortColumn("sent")'
                )
                span((click)='onSortColumn("sent")') Sent
            .measurement-header__type.measurement-header--clickable
                span.oi.oi-chevron-bottom(
                    *ngIf='currentSortColumn === "type"',
                    [class.oi--rotated]='isDescSortOrder',
                    (click)='onSortColumn("type")'
                )
                span((click)='onSortColumn("type")') Type
            .measurement-header__value.measurement-header--clickable
                span.oi.oi-chevron-bottom(
                    *ngIf='currentSortColumn === "value"',
                    [class.oi--rotated]='isDescSortOrder',
                    (click)='onSortColumn("value")'
                )
                span((click)='onSortColumn("value")') Value
            .measurement-header__comment
                span Comment
            .measurement-header__actions
                span Actions
        app-measurement-item(
            *ngFor='let measurement of measurements',
            [isGroupedItem]='true',
            [measurement]='measurement',
            [isSentFlagActive]='isSentFlagActive',
            [onDeleteClick]='onDeleteClick$',
            [onEditClick]='onEditClick$',
            [onTypeClick]='onTypeClick$',
            [onSendFlagClick]='onSendFlagClick$',
        )
div(*ngIf='!showAsGroups')
    app-measurement-item(
        *ngFor='let measurement of measurements',
        [isGroupedItem]='false',
        [measurement]='measurement',
        [isSentFlagActive]='isSentFlagActive',
        [onDeleteClick]='onDeleteClick$',
        [onEditClick]='onEditClick$',
        [onTypeClick]='onTypeClick$',
        [onSendFlagClick]='onSendFlagClick$',
    )