doctype html

.card.m-card
    .card-header {{ formattedGroupName }}
    .card-body
        .card-body__measurement-header(
            [class.card-body__measurement-header--flagged]='(isSentFlagActive | async)'
        )
            .card-body__measurement-header__flag(
                *ngIf='(isSentFlagActive | async)'
            )
                span Sent
            .card-body__measurement-header__type
                span Type
            .card-body__measurement-header__value
                span Value
            .card-body__measurement-header__comment
                span Comment
            .card-body__measurement-header__actions
                span Actions
        app-measurement-item(
            *ngFor='let measurement of measurementGroup.measurements',
            [measurement]='measurement',
            [isSentFlagActive]='isSentFlagActive',
            [onDeleteClick]='onDeleteClick$',
            [onEditClick]='onEditClick$',
            [onTypeClick]='onTypeClick$',
            [onSendFlagClick]='onSendFlagClick$',
        )