doctype html

.container.mt-5
    .d-flex.flex-column.align-items-center
        h1 404 Error: Whoops! You reached unreachable page.
        
        img.funny-gif.mb-3(
            alt='not found..',
            src='assets/images/confused.gif'
        )

        h4 Try start a new story from home page
        
        button.btn.btn-outline-success(
            type='button',
            (click)='onHomeClick()'
        ) Home