.container
    display flex
    padding 0 25%
    justify-content center
    flex-direction column
    margin-top 5em

    h1
        text-align center

    .funny-gif
        width 30vw
        height auto
        margin-top 1em