doctype html

h2.module-name(
    (click)='onMenuItemClick("")'
) User module

br

.user-container
    ul.side-menu
        li(
            *ngFor='let menuItem of menuItems',
            [class.active]='menuItem.isActive',
            [attr.disabled]='menuItem.isEnabled ? null : ""',
            (click)='(menuItem.isEnabled && !menuItem.isActive) ? onMenuItemClick(menuItem.link) : null',
            [title]='menuItem.isActive ? "You are here" : ""'
        ) {{ menuItem.name }}
    .content
        router-outlet