.notification(
    [class.collapsed]='isNotificationsHidden',
    (click)='notificationsToggle($event.target)',
)
    .bell(
        [title]=`(notifications$ | async)?.length === 0 ? "No active notifications.
Click to see all." : "Notifications"`
    )
        span.oi.oi-bell
        span.badge(
            *ngIf='(notifications$ | async)?.length > 0'
        ) {{ (notifications$ | async)?.length }}
    .notification-dropdown(
        *ngIf='(notifications$ | async)?.length > 0'
    )
        .dismiss-btn
            button.btn.btn-outline-secondary.btn-sm.mb-1.btn-block(
                (click)='onNotificationListClick()'
            ) Show all
        ul.notification-list
            li.m-card.card(
                *ngFor='let notification of (notifications$ | async)',
                [ngClass]='notification.type.toLowerCase()',
                data-bell-list-child='true'
            )
                .card-body
                    h6.card-title {{ notification.title }}
                    span.oi.oi-x.oi-medium.float-right(
                        (click)='hideNotification(notification.key)',
                        title='Hide from active'
                    )
                    p.card-text {{ notification.text }}
        .dismiss-btn
            button.btn.btn-outline-secondary.btn-sm.mb-2.mt-1.btn-block(
                (click)='hideAll()'
            ) Hide all