.notification(
    [class.collapsed]='isNotificationsHidden',
    (click)='notificationsToggle($event.target)',
    title='Notifications'
)
    .bell
        span.oi.oi-bell
        span.badge(
            *ngIf='(notifications$ | async)?.lenghth > 0'
        ) {{ (notifications$ | async)?.length }}
    ul.notification-list(
        *ngIf='(notifications$ | async)?.length > 0'
    )
        li(
            *ngFor='let notification of (notifications$ | async)',
           [ngClass]='notification.type' 
        )
            .header
                h5.title {{ notification.name }}
                span.oi.oi-x.oi-medium(
                    (click)='removeNotification(notification)'
                )
            p.description {{ notification.description }}