.notification(
    [class.collapsed]='isNotificationsHidden',
    (click)='notificationsToggle($event.target)'
)
    .bell(title='Notifications')
        span.oi.oi-bell
        span.badge(
            *ngIf='(notifications$ | async)?.length > 0'
        ) {{ (notifications$ | async)?.length }}
    .notification-dropdown(
        *ngIf='(notifications$ | async)?.length > 0'
    )
        ul.notification-list
            li(
                *ngFor='let notification of (notifications$ | async)',
                [ngClass]='notification.type',
                data-bell-list-child='true'
            )
                .header
                    h5.title {{ notification.title }}
                    span.oi.oi-x.oi-medium(
                        (click)='hideNotification(notification.key)'
                    )
                p.description {{ notification.text }}
        .dismiss-btn
            button.btn.btn-outline-secondary.btn-sm.mb-2.btn-block(
                (click)='hideAll()'
            ) Hide all