@import '../../../common/colors.styl'

.notification
    .bell
        color white
        position relative

        .oi-bell
            transition 0.2s ease color
            font-size 1em
            
            &:hover
                color color-red-orange

        .badge
            position absolute
            top -0.5em
            right -1em
            border-radius 50%
            background-color color-red-fiery-coral
            color white
            cursor pointer
            font-size 8px
            user-select none

    
    .notification-dropdown
        position absolute
        right 1em
        background-color color-white
        box-shadow 0 0 20px 5px rgba(0, 0, 0, 0.5)
        border-radius 4px
        transition all 0.3s ease

        .dismiss-btn
            padding 5px


        .notification-list
            padding 10px 5px
            overflow auto
            width 20em
            max-height 40vh
            
            list-style none

            & > *
                margin-bottom 0.5em

            li.m-card
                border-left-width 3px
                border-left-style solid
                border-bottom-left-radius 3px
                border-top-left-radius 3px

                .card-title
                    font-weight bold
                    display inline
                p.card-text
                    max-height 8em
                    overflow auto
                &:last-of-type
                    margin-bottom 0
                &.info
                    border-left-color color-blue-thunder-light
                &.warning
                    border-left-color color-orange-bee

    &:not(.collapsed) .notification-dropdown
        opacity 1
        visibility visible
    &.collapsed .notification-dropdown
        opacity 0
        visibility collapse
    