@import '../../../common/colors.styl'

.notification
    .bell
        color white
        position relative

        &:hover .oi-bell:hover
            color color-red-orange

        .badge
            position absolute
            top -0.5em
            right -1em
            border-radius 50%
            background-color color-red-fiery-coral
            color white
            cursor pointer
            font-size 8px

    
    .notification-list
        position absolute
        background-color color-white-milk
        min-width 15em
        overflow auto
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
        right 1em

        transition opacity 0.2s linear

        list-style none
        margin 0
        padding 0
    &:not(.collapsed) .notification-list
        opacity 1
    &.collapsed .notification-list
        opacity 0