doctype html

.loading-cover
    .loading-cover_image-container(
        *ngIf='isLoading$ | async'
    )
        img.loading-cover_image-container_img(
            alt='loading..',
            src='assets/images/loading-02.svg'
        )
    .loading-cover_content(
        [attr.data-disabled]='isLoading$ | async'
    )
        div(*ngIf="hasData$ | async")
            table.table.table-hover.table-sm
                thead.thead-dark
                    tr.d-flex
                        th.col-2.pl-3(scope='col') Sent date
                        th.col-3(scope='col') Recipient
                        th.col-5(scope='col') Subject
                        th.col-2(scope='col') Body
                tbody
                    tr.d-flex(*ngFor='let logItem of (logItems$ | async)')
                        td.col-2.pl-3(
                            [title]='formatTime(logItem.sentDate)'
                        ) {{ formatDate(logItem.sentDate) }}
                        td.col-3 {{ logItem.recipient }}
                        td.col-5 {{ logItem.subject }}
                        td.col-2
                            button.btn.btn-outline-info.btn-sm(
                                type='button',
                                (click)='displayBody(logItem.id)'
                            ) Show
            br
            app-paginator(
                *ngIf='(paginatorConfig$ | async)?.enabled',
                [pagesCount]='(paginatorConfig$ | async)?.pagesCount',
                (pageChange)='onPageChange($event)'
            )
        app-no-items(*ngIf="!(hasData$ | async)")