doctype html

.payment
    .date
        .month {{ formatMonth(payment.month) }}
        .year {{ payment.year }}
    .info
        .amount {{ payment.amount }}
        p.description {{ payment.description }}
    .type
        .app-badge(
            [ngClass]='getPaymentTypeClass(payment.paymentTypeName)',
            (click)='typeClick.emit(payment.paymentTypeId)'
        ) {{ payment.paymentTypeName }}
    .options
        .oi.oi-pencil.oi-medium-extra(
            (click)='editClick.emit(payment.id)',
            title='Edit'
        )
        .oi.oi-trash.oi-medium-extra(
            (click)='deleteClick.emit(payment.id)',
            title='Delete'
        )