doctype html

.payment
    .payment__year {{ payment.year }}
    .payment__month {{ formattedMonth }}
    .payment__type
        app-badge(
            [mainColor]='payment.paymentTypeColor',
            [text]='payment.paymentTypeName',
            clickable='true',
            (click)='typeClick.emit(payment.paymentTypeId)'
        )
    .payment__amount {{ payment.amount }}
    .payment__comment {{ payment.description }}
    .payment__actions
        .oi.oi-pencil.oi-medium-extra(
            (click)='editClick.emit(payment.id)',
            title='Edit'
        )
        .oi.oi-trash.oi-medium-extra(
            (click)='deleteClick.emit(payment.id)',
            title='Delete'
        )
