doctype html

.payment
    .date
        .month {{ formatDate(payment.date) }}
        .year {{ date.getFullYear() }}
    .info
        .amount {{ payment.amount }}
        p.description {{ payment.description }}
    .type
        .app-badge(
            [ngClass]='getPaymentTypeClass(payment.paymentTypeName)'
        ) {{ payment.paymentTypeName }}
    .options
        .oi.oi-pencil.oi-medium-extra(
            (click)='editClick.emit(payment.id)',
            title='Edit'
        )
        .oi.oi-trash.oi-medium-extra(
            (click)='deleteClick.emit(payment.id)',
            title='Delete'
        )