@import '../../../../../common/colors.styl'

.payment
    display flex
    align-items center
    justify-content space-between
    
    margin 1em 0
    padding 1em 1.2em

    box-shadow 0px 0px 2px 0px rgba(0, 0, 0, 0.25)

    cursor default

    &:hover
        box-shadow 0px 0px 2px 0px rgb(69, 212, 222, 0.25)

    .date
        display flex
        flex-direction column
        align-items center

        width 10%
        .month
            font-size 1.5em
        .year
            font-size 1.2em

    .info
        display flex
        flex-direction column

        width 60%
        .amount
            font-size 1.5em
            &:after
                content '₽'
                font-size 0.9em
                margin-left 5px
        .description
            margin 0
            padding 0
    .type
        margin 0 5px
        width 10%

        justify-content center
        display flex

        .app-badge
            &.house
                border-color color-green-swamp-dark
                &:hover
                    background-color color-green-swamp-dark
                    color color-white-paint
            &.electricity
                border-color color-blue-blue-sky
                &:hover
                    background-color color-blue-blue-sky
                    color color-white-paint
            &.hot-water
                border-color color-red-orange
                &:hover
                    background-color color-red-orange
                    color color-white-paint
            &.cold-water
                border-color color-blue-soft
                &:hover
                    background-color color-blue-soft
                    color color-white-paint

    .options
        display flex
        & > *
            margin 0 1em