doctype html

.payment
    .info
        .date {{ formatDate(payment.date) }}
        .amount {{ payment.amount }}
        .app-badge {{ payment.paymentType }}
    p.description {{ payment.description }}