doctype html

.notifications
    ngb-toast.notification(
        *ngFor='let notification of notifications',
        [header]='getTypeName(notification.type)',
        [class]='getClassName(notification.type)',
        [autohide]='true',
        [delay]='notification.delay',
        (hide)='removeNotification(notification)',
    )
        .notification__body {{ notification.message }}
        