.notifications
    width 15vw
        
    position fixed
    top 4em
    right 1em

    z-index 999

    .notification
        &.m-bg-success
            background-color #6fdc88 !important
        &.m-bg-danger
            background-color #ff001861 !important