doctype html

.modal-header
    h4.modal-title {{ title }}
    button.close(
        type='button',
        aria-label='close',
        (click)='modalService.close()',
        style='outline: none;'
    )
        span(aria-hidden='true') &times;
.modal-body.m-modal-body
    div(
        *ngIf='body.isHtml',
        [innerHTML]='body.content'
    )
    div(
        *ngIf='!body.isHtml',
    ) {{ body.content }}
.modal-footer
    button.btn.btn-outline-dark(
        type='button',
        (click)='modalService.close()'
    ) Close