@import './colors.styl'

body
    font-family monospace

.m-form-control
    width 30%
    display flex

img.loading-indicator
    display block
    margin-left auto
    margin-right auto
    width 50vw
    height 0.8em
    margin-top 5em

colors_accordion = #F7F7F7

.accordion
    overflow hidden
    box-shadow 0 4px 4px -2px rgba(0, 0, 0, 0.5)
    border-radius 4px
    margin-bottom 1.5em
    &-tab
        max-height 0
        padding 0 1em
        background white
        transition all .35s
    &-switcher
        position absolute
        opacity 0
        z-index -1
        &:checked
            & + .accordion-label
                background darken(colors_accordion, 10%)
                &:after
                    transform rotate(90deg)
            & ~ .accordion-tab
                max-height 100vh
                padding 1em
    &-label
        display flex
        justify-content space-between
        
        padding 1em
        margin-bottom 0

        background colors_accordion
        font-weight bold
        cursor pointer
        &:hover
            background darken(colors_accordion, 10%)
        &:after
            content '\276F'
            width 1em
            height 1em
            text-align center
            transition all 0.35s
    
.filters
    &-row
        display flex
        flex-direction row
        align-items center
        margin-bottom 0.3em
        &_label
            margin-right 0.2em
            min-width 10%
            margin-bottom 0
        &_filter
            max-width 20%
            min-width 10%
            margin-right 0.5em

            &.small
                max-width 10%
        .multi
            &:before 
                content attr(placeholder) !important
                color #AAA
                margin-right 0.5em
            &:focus:before, &:valid:before
                content ''
.app-badge
    display inline-block
    padding 3px 6px

    vertical-align middle
    cursor pointer
    user-select none
    transition 0.15s all

    border-width 1px
    border-style solid 
    border-radius 2px
    border-color transparent

.oi
    cursor pointer
    &:hover
        color color-blue-blue-sky
    &:active
        color color-blue-sky-darken
    &-small
        font-size 0.5em
    &-medium
        font-size 0.8em
    &-medium-extra
        font-size 1.2em
    &-large
        font-size 1.5em

.module-name
    cursor pointer
    user-select none
    
    &:hover
        color color-blue-blue-sky

.hidden
    display none