body
    font-family monospace

.m-form-control
    width 30%
    display flex

img.loading-indicator
    display block
    margin-left auto
    margin-right auto
    width 50vw
    height 0.8em
    margin-top 5em