doctype html

.measurement
    .sent-flag(
        *ngIf='(isSentFlagActive | async)'
    )
        .custom-control.custom-checkbox
            input.custom-control-input(
                [id]='measurement.id',
				[checked]='measurement.isSent',
                type='checkbox',
                [disabled]='measurement.isSent',
                (change)='onChecked($event)',
            )
            label.custom-control-label(
                [for]='measurement.id'
            )
    .info
        .amount {{ measurement.measurement }}
        p.description {{ measurement.description }}
    .type
        .app-badge(
            [ngClass]='getMeasurementTypeClass(measurement.measurementTypeName)',
            (click)='onTypeClick.next(measurement.meterMeasurementTypeId)'
        ) {{ measurement.measurementTypeName }}
    .options
        .oi.oi-pencil.oi-medium-extra(
            (click)='onEditClick.next(measurement.id)',
            title='Edit'
        )
        .oi.oi-trash.oi-medium-extra(
            (click)='onDeleteClick.next(measurement.id)',
            title='Delete'
        )