doctype html

.measurement
    .info
        .date {{ formatDate(measurement.date) }}
        .value {{ measurement.measurement }}
        .app-badge {{ measurement.measurementTypeName }}
    p.description {{ measurement.comment }}