doctype html

.measurement
    .date
        .month {{ formatDate(measurement.date) }}
        .year {{ date.getFullYear() }}
    .info
        .amount {{ measurement.measurement }}
        p.description {{ measurement.description }}
    .type
        .app-badge(
            [ngClass]='getMeasurementTypeClass(measurement.measurementTypeName)',
            (click)='typeClick.emit(measurement.meterMeasurementTypeId)'
        ) {{ measurement.measurementTypeName }}
    .options
        .oi.oi-pencil.oi-medium-extra(
            (click)='editClick.emit(measurement.id)',
            title='Edit'
        )
        .oi.oi-trash.oi-medium-extra(
            (click)='deleteClick.emit(measurement.id)',
            title='Delete'
        )