doctype html

.measurement(
    [class.measurement--flagged]='(isSentFlagActive | async)',
    [class.measurement--single]='!isGroupedItem',
)
    .measurement__date
        span {{ formattedDate }}
    .measurement__flag(
        *ngIf='(isSentFlagActive | async)',
        [class.measurement__flag--clear]='!isStateChaged'
    )
        .custom-control.custom-checkbox
            input.custom-control-input(
                [id]='measurement.id',
				[checked]='measurement.isSent',
                type='checkbox',
                (change)='onChecked($event)',
            )
            label.custom-control-label(
                [for]='measurement.id'
            )
    .measurement__type
        app-badge(
            [mainColor]='measurement.measurementTypeColor',
            [text]='measurement.measurementTypeName',
            (click)='onTypeClick.next(measurement.meterMeasurementTypeId)'
        )
    .measurement__value
        span {{ measurement.measurement }}
    .measurement__comment
        p {{ measurement.comment }}
    .measurement__actions
        i.oi.oi-pencil.oi-medium-extra(
            (click)='onEditClick.next(measurement.id)',
            title='Edit'
        )
        i.oi.oi-trash.oi-medium-extra(
            (click)='onDeleteClick.next(measurement.id)',
            title='Delete'
        )