@import '../../styles/colors.styl'

active-element()
    border 1px solid rgba(0, 0, 0, 0.15)
    cursor pointer
    user-select none

    &:not(.disabled):hover
        background rgba(0, 0, 0, 0.15)

    &:not(.disabled):active
        background rgba(0, 0, 0, 0.25)

.month-selector
    &__arrow
        active-element()
        padding 0.25em 0.5em

        &.disabled
            color rgb(128, 128, 128)
            background rgba(128, 128, 128, 0.05)

        &.arrow-left
            border-top-left-radius 4px
            border-bottom-left-radius 4px

        &.arrow-right
            border-top-right-radius 4px
            border-bottom-right-radius 4px

    &__selection
        input[type='checkbox']
            position absolute
            opacity 0
            cursor pointer
            height 0
            width 0

            &:checked
                & ~ .month-selector__drop-panel
                    opacity 1
                    visibility visible

                & ~ span
                    background rgba(0, 0, 0, 0.1)

                    &:hover
                        background rgba(0, 0, 0, 0.15)

                    &:active
                        background rgba(0, 0, 0, 0.25)

        span
            active-element()
            padding 0.15em 0.75em
            width 10em
            display inline-flex
            justify-content center

    &__drop-panel
        position absolute
        z-index 10
        opacity 0
        transition 0.25s ease opacity
        visibility collapse
        border 1px solid rgba(0, 0, 0, 0.15)
        border-radius 0.25rem
        background white
        padding 0.5em
        margin-top 0.125em
        width 14.25em
        box-shadow 0px 0px 9px -2px rgba(0, 0, 0, 0.25)

        select
            user-select none
            text-transform capitalize
            padding 0.2em 0.4em
            cursor pointer
            border 1px solid rgba(0, 0, 0, 0.5)
            background white
            border-radius 4px

        .line
            margin 0.25em 0
            display flex
            justify-content space-between

        .clear-link
            margin 0 auto
            color rgb(0, 0, 0)

            &[disabled], &.disabled
                font-style italic
                color rgba(0, 0, 0, 0.25)

            &:not([disabled]):not(.disabled)
                cursor pointer
                border-bottom 1px solid rgba(0, 0, 0, 0.15)

                &:hover
                    border-bottom-color rgb(0, 0, 0, 0.25)
                    font-weight bold