@import './colors.styl'

body
    font-family monospace

*[title]
    cursor help

label[title]
    border-bottom 1px dotted black


.m-form-control
    width 30%
    display flex

.m-row
    align-items center

    &--nm
        margin-left 0
        margin-right 0

[data-collapsable='true']
    .card-header
        .btn-link
            box-shadow none

        [data-toggle="collapse"] .oi
            transition transform 0.3s ease
            color black
            transform rotate(180deg)
            

        [data-toggle="collapse"].collapsed .oi
            transform none
    
.filters
    &_row
        display flex
        flex-direction row
        align-items center
        margin-bottom 0.3em
        &_label
            margin-right 0.2em
            min-width 10%
            margin-bottom 0
        &_filter
            max-width 20%
            min-width 10%
            margin-right 0.5em

            &.small
                max-width 10%
        .multi
            &:before 
                content attr(placeholder) !important
                color #AAA
                margin-right 0.5em
            &:focus:before, &:valid:before
                content ''
    &_buttons
        & > *
            margin-right 10px
            &:last-child
                margin-right 0

.oi
    cursor pointer
    &:hover
        color color-blue-sky
    &:active
        color color-blue-sky-darken
    &--sm
        font-size 0.5em
    &--md
        font-size 0.8em
    &--lg
        font-size 1.2em
    &--elg
        font-size 1.5em

.module-name
    cursor pointer
    user-select none
    
    &:hover
        color color-blue-sky

.hidden
    display none

form
    padding-bottom 1em

    .ng-invalid.ng-dirty[data-validate-onchange='true']
        border-color #dc3545
        padding-right calc(1.5em + .75rem)
        background-repeat no-repeat
        background-position right calc(.375em + .1875rem) center
        background-size calc(.75em + .375rem) calc(.75em + .375rem)

        & ~ .invalid-feedback
            display block



br
    user-select none